/* barlow-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* barlow-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fraunces-v31-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fraunces-v31-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.hero {
  padding-top: 20px;
}

.container {
  width: 1320px;
  padding: 0 20px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.text-div {
  margin-left: 630px;
}

.text {
  margin-left: 33px;
  color: #83888F;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
}


.text-1 {
  color: #333D4B;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

.pic-text {
  padding-top: 16px;
  margin-left: -40px;
}

/* Avd */

.avd-main {
  margin-top: -40px;
}

.avd {
  padding-top: 50px;
  padding-left: 70px;
}

.avd-text {
  width: 600px;
  color: #FEFCF7;
  font-family: "Fraunces" 9pt;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 32px;
}

.avd-p {
  width: 445px;
  color: #FEFCF7;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
  margin-bottom: 40px;
}

.avd-link {
  width: 217px;
  height: 56px;
  flex-shrink: 0;
  padding: 15px 30px;
  border-radius: 6px;
  background: #66D2CF;
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces" 9pt;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  text-decoration: none;
}

.avd {
  width: 1189px;
  height: 1298px;
  border-radius: 12px;
  margin-top: 100px;
  background-image: url("../img/Bitmap.png");
  background-repeat: no-repeat;
}

.pic-avd {
  padding-top: 50px;
  margin-left: -50px;
}

/* Main */



.main .container {
  width: 1111px;
  height: 196px;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.00) 0%, #FEFCF7 100%);
  margin-top: -550px;
  background-image: url(../img/Group\ 13.png);
}

.did-title {
  margin-top: 540px;
}

.title-h2 {
  width: 255px;
  color: #333D4B;
  text-align: center;
  font-family: "Fraunces" 9pt;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  padding-top: 71px;
}

.title-description {
  width: 255px;
  color: #333D4B;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 10px;
}